*{
    margin: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 181, 164);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    grid-gap: 10px;
}

.container > div:nth-child(1n){
    background-color: rgb(213, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 25px;
    color: rgb(23, 23, 23);
    cursor: pointer;
    border: 2px solid rgb(51, 51, 51);
}
.container > div:nth-child(2n){
    background-color: white;
}
.container > div:nth-child(3n){
    background-color: rgb(255, 255, 135);
}
.container > div:nth-child(4n){
    background-color: rgb(179, 144, 212);
}
.container > div:nth-child(5n){
    background-color: aquamarine;
}
.container > div:nth-child(6n){
    background-color: rgb(151, 151, 255);
}

